
body {
    font-family: Arial, Helvetica, sans-serif;
}
.custom-header {
    /*background-image: url("../img/background.jpg");*/
    background-size: cover;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;;
}

.custom-dark-glow {
    color:white;
    text-shadow:1px 1px 10px #000, 1px 1px 10px rgb(29, 29, 29);
}

.title-text {
    color: #0C2951;
	margin-bottom: 50px;
    font-weight: 600;
    font-size: 45pt;
}

.bg-shade1 {
    background-color:rgb(221, 221, 221);
}

.bg-shade2 {
    background-color: aliceblue;
}

.bg-shade3 {
    background-color:rgb(111, 111, 196);
}

.bg-shade4 {
    background-color:rgb(34, 54, 54);
}

.bg-shade5 {
    background-color: dimgray;
}

.text-body {
    font-size: 1.15rem;
    font-family: var(--bs-body-font-family);
    font-weight: 325;
}

.text-body-bold {
    font-size: 1.15rem;
    font-family: var(--bs-body-font-family);
    font-weight: 400;
}

.divider {
    height: 5px;
    width: 75px;
    background-color:#4B9CD3;
    margin-bottom: 20px;
}

.gradient-blue {
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}

/* Container for skill bars */
.skills-container {
    width: 100%;
    background-color: #ddd;
    padding: 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .skills {
    text-align: right;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    color: white;
    background-color: #2196F3;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
  }
  
  .html-css {width: 60%;}
  .java {width: 80%;}
  .python {width: 60%;}
  .c-cpp {width: 40%;}
  .node-js {width: 40%;}

/* Profile Picture */
.profile-pic {
    position: relative;
	height: 250px;
	width: 200px;
	background-image: url("../img/profile-pic.jpg");
	filter: grayscale(100%);
    background-position: center;
    background-size: 200px;
	border-style: solid;
	border-size: medium;
	border-color: #4B9CD3; 
}

.profile-pic-container {
	position: relative;
	height: 450px;
	width: 300px;
	margin-right: 50px;
	background-color: aliceblue;
	padding-top: 100px;
	padding-left: 50px;
	box-shadow: 2px 3px 4px lightgray;
}

/* Button links */
.btn-custom {
    background-color: white;
    color: black;
	box-shadow: 2px 3px 4px lightgray;
}
	.img {
		margin-top: -30%;
        margin-left: -20%;
	}

.text-link {
    font-size: 1.15rem;
    font-family: var(--bs-body-font-family);
    text-decoration: none;
}

.header-dark {
    color:rgb(221, 221, 221);
}